@mixin iconos-redes {
    z-index: 200;
    position: fixed;
    bottom: 20px;
    right: 20px;

    img {
        width: 2rem;
        height: 2rem;
        transition: .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);

        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

@mixin tarjetas {
    @include flex-center;
    width: 70%;
    padding: 10px;
    background-color: $color-terciario;

    p{
        padding: 2rem;
    }

}
