
.header-clientes {
    height: 5rem;
}
.main .main__clientes .main__clientes__cliente{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.main .main__clientes .main__clientes__cliente img {
    border-radius: 40%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 160px;
}
.main .main__clientes .main__clientes__cliente p {
    padding: 5px;
}