* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Bree Serif', serif;
}

p {
    font-family: 'Bree Serif', serif;
}

hr {
    width: 70%;
    margin: 50px auto!important;
}

.header {
    height: 5rem;
}