.header {
    .navbar {
        list-style: none;
        width: 100%;
        height: 5rem;
        background-color: rgb(210, 105, 30);
        position: fixed;
        top: 0;
        z-index: 10;

        .container-fluid {
            background-color: rgb(210, 105, 30);
        }
    }
}