.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 50vh;
    margin-top: 3rem;
    p {
        margin: auto;
        margin-bottom: 2rem;
    }
    .main__img {
        img {
            width: 100%;
            padding: 5px;
            gap: 5px;
        }
    }
}



/* Media Query img */
@media(min-width : $pantalla-chica) {
    .main {
        .main__img {
            display: flex;
            justify-content: center;
            text-align: center;

            img {
                width: 45%;
                padding: 5px;
                gap: 5px;
                flex-wrap: wrap;
            }
        }
    }
}