.main {

    .descipcion-vista {

        p {
            margin: auto;
            margin-bottom: 2rem;
        }
    }

    .cards {

        display: grid;
        grid-template-columns: 1fr;
        gap: 10rem;

        .card {
            @include tarjetas;

            a{
                @extend .boton-general;
                text-decoration: none;
            }
        }
    }
}



/* Media Query img */
@media(min-width : $pantalla-chica) {
    .main {

        .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5rem;

        }

    }
}

@media(min-width : $pantalla-grande) {

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);


    }

}