$pantalla-chica: 667px;
$pantalla-media-chica:800px;
$pantalla-media: 900px;
$pantalla-media-grande: 1100px;
$pantalla-grande: 1200px;


$color-principal-claro: #232946;
$color-secundario-claro: #b8c1ec;
$color-terciario-claro: #fffffe;
$color-cuaternario-claro:#eebbc3;

$color-principal-oscuro: #16161a;
$color-secundario-oscuro: #72757e;
$color-terciario-oscuro: #7f5af0;
$color-cuaternario-oscuro:#010101;

$backgound-boton-claro:#ff5500;
$backgound-boton-oscuro: #7f5af0;


$color-principal-letras-claro:#232946;
$color-principal-letras-oscuro: #fffffe;


$color-principal: $color-principal-claro;
$color-secundario: $color-secundario-claro;
$color-terciario: $color-terciario-claro;
$color-cuaternario:$color-cuaternario-claro;